body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica';
    background: url('/static/imgs/UFO.png');
    color: aquamarine;
    text-align: center;
    letter-spacing: 1.4px;
    font-size: 30px;
}

input {
    min-width: 150px;
}

.grid {
    color: #fff;
    background: #2d2d2d;
    padding: 12px;
    display: inline-block;
}